/* Universal Box Sizing with inheritance */
html,
:root {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* The default theme */
:root,
:host {
	/* typography */
	--font-family: serif;
	--size-font: 17px;
	--size: 1.3rem;
	--color-random: inherit; /* background; value inserted by js */
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--color-fg: white;
		--color-bg: inherit;
		--color-link: inherit;
	}
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--color-fg: inherit;
		--color-bg: inherit;
		--color-link: inherit;
	}
}

/* the html element root,
	 and the custom-element's root */
:root,
:host {
	background-color: var(--color-bg);
	color: var(--color-fg);
	font-family: var(--font-family);
	font-size: var(--font-size);
}

/* reset of browser styles */
html,
body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
html {
	min-height: 100%;
}
body {
	margin: 0;
	font-size: var(--size);
}

a {
	text-decoration: none;
}
menu {
	margin: 0;
	list-style: lower-greek;
}
menu li {
	filter: invert(1);
}
tree-html {
	--size: 1.5rem;
	flex-grow: 1;
	padding: calc(var(--size) / 3);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
@media screen and (max-width: 40rem) {
	tree-html a:not(:first-of-type) {
		margin-left: 10vw;
	}
}
@media screen and (min-width: 40rem) {
	tree-html {
		display: block;
	}
	tree-html a {
		margin-left: 0;
	}
}
tree-html a {
	text-decoration: none;
	font-size: 1.3em;
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}
tree-html a:first-of-type::before {
	content: "D:";
}
tree-html a::after {
	content: attr(title);
	font-style: italic;
	font-size: 0.8em;
	margin-left: calc(var(--size) / 3);
	color: var(--color-fg);
}
/* `tree` classes */

/* link folders, and files */
tree-html a.DIR::before,
tree-html a.NORM::before {
	padding: calc(var(--size) / 3);
}

tree-html a.DIR::before {
	content: "📁";
}
tree-html a.NORM::before {
	content: "📄";
}

iframe {
	pointer-events: none;
	display: inherit;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	border: 0.1rem dashed var(--color-random);
	margin: calc(var(--size) / 3);
}
nav {
	padding-left: calc(var(--size) / 3);
	padding-right: calc(var(--size) / 3);
}
iframe[is-loaded] {
	opacity: 1;
}
button {
	cursor: pointer;
}
